<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Halocli"
    Manufacturer="Midtown Technology Group LLC"
    Version="$(var.Version)"
    UpgradeCode="{06C1B067-8260-5DF9-A2F9-D6ECEE2905AD}"
    InstallerVersion="500"
    Scope="perMachine">

    <SummaryInformation Description="Halocli installer" Manufacturer="Midtown Technology Group LLC" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Halocli is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="Midtown Technology Group">
        <Directory Id="INSTALLFOLDER" Name="Halocli" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Halocli" Level="1">
      <ComponentGroupRef Id="ToolComponents" />
    </Feature>

    <ComponentGroup Id="ToolComponents" Directory="INSTALLFOLDER">
      <Component Id="ToolExecutableComponent" Guid="*">
        <File Id="ToolExecutable" Source="$(var.BinDir)\halocli.exe" KeyPath="yes" />
      </Component>
      <Component Id="PathComponent" Guid="{CE75C0DC-6AE1-5E22-B528-C625A0B672EB}">
        <CreateFolder />
        <Environment
          Id="ToolPathEntry"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
